{% extends 'layout.html' %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('  {{url_for('static', filename='assets/img/home-bg.jpg')}}  ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Coding Thunder</h1>
                    <span class="subheading">A Blog liked by Programmers</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <!--Fetch the posts using for loop from database-->
            {% if posts|length== 0 %}
            <div class="alert alert-dark" role="alert">
                You have not added any posts! </div>
            {% else %}

            {% for post in posts %}


            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <h2 class="post-subtitle">{{post.subtitle}}</h2>
                    <p>{{post.content[0:40]}}...</p>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on {{post.date}}
                </p>
            </div>
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="clearfix">
                <p>{{prev}}</p>
                <p>{{next}}</p>
                <a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous</a>
                <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
{% endblock body %}